/*color menu*/
nav.navbar {
    background-color: rgba(12, 12, 12, 0.425) ;
}/*color menu*/

/*tamaño imagenes carrusel*/
.carousel-item {
    height: 70vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    }/*tamaño imagenes carrusel*/
footer{

  background:rgb(3, 3, 3);
  color:rgb(3, 3, 3);
  text-align:center;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
    
}    
body{
    background-color:  rgb(12, 12, 12);
    margin:0;
    padding:0;
    height:100%;
}

